{% extends "base.html" %}

{% block content %}
<h2>{{ name }}</h2>
{% for item in chat%}
<div class="col-md6 border rounded">
    <h4>{{item.name_out}}</h4>
    <div>
        <a class="text-secondary">{{item.text}}</a>
    </div>
</div>
{% endfor %}
<div class="col-md6 border rounded">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
        {{ form.text.label }}<br>
            {{ form.text(class="form-control") }}<br>
            {% for error in form.text.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        <p>{{ form.submit(type="submit", class="btn btn-success") }}</p>
        </p>
        {{message}}
    </form>
</div>
{% endblock %}
