{% extends "base.html" %}

{% block content %}
{% if not m %}
<dir class="mb-5"></dir>
<a class="text-success text-centre">Добро пожаловать на сайт! Это мессенеджер для общения.</a>
<a class="text-success text-centre">Ниже вы можете зарегистрироваться или войти.</a>
<a class="text-success text-centre">Удачного время провождения!</a>
<header>
    <a class="text-secondary text-centre">После регистрации вас попросит вновь ввести пароль и
        почту</a>
</header>
<dir class="mb-auto"></dir>
<header>
    <div class="navdar text-centre">
    <p>
        <a class="btn btn-light text-centre" href="/register">Зарегистрироваться</a>
        <a class="btn btn-success text-centre" href="/login">Войти</a>
    </p>
    </div>
</header>
{% else %}
<dir class="mb-5"></dir>
<a class="text-success text-centre">Добро пожаловать на сайт! Это мессенеджер для общения.</a>
<a class="text-success text-centre">Удачного время провождения!</a>
<header>
    <a class="text-secondary text-centre">Вы уже выполнили вход, нажмите продолжить.</a>
</header>
<dir class="mb-auto"></dir>
<header>
    <div class="navdar text-centre">
    <p>
        <a class="btn btn-success text-centre" href="/chat">Продолжить</a>
    </p>
    </div>
</header>
{% endif %}
{% endblock %}
